<app-nav></app-nav>

<section class="hero-section">
  <div class="container-fluid">
    <div class="row d-flex flex-row-reverse align-items-center ">
      <div data-aos="fade-right" class="col-md-6 img-head ">
        <img [src]="imgPath[0]" alt="Hero Image">
      </div>
      <div class="col-md-6 mt-5 title-hero">
        <div
          class="col-md-12 w-100 text-center flex-column d-flex justify-content-space-between align-items-center">
          <div data-aos="fade-left" class="col-md-6 d-flex justify-content-start mb-5 align-items-start">
            <img src="" width="70rem" height="50rem" alt="1">
          </div>
          <div data-aos="fade-down" data-aso-duration="4000" class="hero-text col-md-6 ">
            <h2>Hi ,I am</h2>
            <h1></h1>
            <p></p>
            <div class="hero-button">
              <a href="mailto:mohtareq1999m@gmail.com">
                <img src="assets/images/f2.png" alt="3"></a>
              <a href="https://github.com/Mohammed-tareq"><img src="assets/images/git.png" alt="2"></a>
              <a
                href="https://www.linkedin.com/in/mohamed-tareq-603177250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
                <img src="assets/images/lin.png" alt="4"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid  hero-section2">
  <div class="row ">
    <div data-aos="fade-up" class="col-12 col-md-8 text-center text-md-left">

      <h3><i class="bi bi-linkedin"></i>00</h3>
      <p>I am a frontend developer. I can provide clean code and pixel perfect design. I also make website more & more
      interactive with web animations.</p>
      <p></p>
    </div>

    <div data-aos="fade-up" class="col-12 col-md-4 col-sm-12 text-center  last-hero-contant ">
      <img src="assets/images/Rectangle 26.png" class="img1  " alt="Hero Image">
      <img src="assets/images/Group (1).png" alt="Hero Image2" class="img2 ">
    </div>
  </div>
</section>
