<footer class="footer col-md-12 col-sm-12 text-center mt-5 align-content-center">

    <a class="text-center mt-5 ">
        <span>Built by</span> <strong>Mohammed Tareq</strong>
        <span class="mx-2">|</span>
        <a href="https://github.com/Mohammed-tareq">GitHub</a>
        <span class="mx-2">|</span>
        <a href="https://www.linkedin.com/in/mohamed-tareq-603177250?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a>
        <span class="mx-2">|</span>
        <a href="mailto:mohtareq1999m@gmail">Gmail</a>
<!--        <span class="mx-2">|</span>-->
         <!-- <a href="https://www.instagram.com/tareqmohammed/">Instagram</a>
        <span class="mx-2">|</span>
        <a href="https://www.facebook.com/tareqmohammed">Facebook</a>
        <span class="mx-2">|</span>  -->
    </a>
<!--    <p>tel:<a href="tel:00000000"></a></p>-->
    <p class="text-center mt-3">&copy; 2025 Mohammed Tareq</p>
</footer>

