
<section class="skills-sec">
    <div class="container mt-5 skills">
        <div class="row align-content-center justify-content-center">
            <div class="col-md-12 text-center  mt-5">
                <h2> SKILLS  </h2>
            </div>
            <div class="col-md-12 offset-md-2  mt-5">
                <h3>USING NOW:</h3>
            </div>
        </div>

      <div class="row align-content-center justify-content-center">
        <div
          *ngFor="let skill of skills"
          data-aos="fade-up"
          data-aos-duration="3000"
          class="col-md-3 text-center mt-5"
        >
          <img [src]="skill.img" width="80px" height="80px" alt="" />
          <h4 class="mt-3">{{ skill.name }}</h4>
        </div>
      </div>




    </div>
    <div class="container mt-5 skills">
        <div class="row align-content-center justify-content-center">
            <div class="col-md-12 offset-md-2  mt-5">
                <h3>LEARNING:</h3>
            </div>
        </div>
        <div class="row  align-content-center justify-content-center">
          @for (learning of learn ; track  $index){

            <div
              data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="4000" class="col-md-3 text-center  mt-5">
                <img [src]="learning.img" width="80px" height="80px" alt="">
                <h4 class="mt-3">{{learning.name}}</h4>
            </div>
          }
        </div>

    </div>
    <div class="container mt-5 skills">
        <div class="row align-content-center justify-content-center">

            <div class="col-md-12 offset-md-2  mt-5">
                <h3>OTHER SKILLS</h3>
            </div>
        </div>
        <div class="row  align-content-center justify-content-center">
          @for (otherskill of other; track $index){

            <div  data-aos="fade-up"
            data-aos-duration="3000"class="col-md-3 text-center  mt-5">
                <img [src]="otherskill.img" width="80px" height="80px" alt="">
                <h4 class="mt-3">{{ otherskill.name }}</h4>
            </div>
          }
        </div>

    </div>
</section>


