<footer class="bg-dark text-white pt-4 pb-2 mt-5">
    <div class="container">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4">
          <h5>About Us</h5>
          <p>We are an online store providing top-quality products at the best prices.</p>
        </div>
  
        <!-- Column 2 -->
        <div class="col-md-4 text-center" >
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white text-decoration-none">Home</a></li>
            <li><a href="#" class="text-white text-decoration-none">Products</a></li>
            <li><a href="#" class="text-white text-decoration-none">About</a></li>
            <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          </ul>
        </div>
  
        <!-- Column 3 -->
        <div class="col-md-4 text-center">
          <h5>Follow Us</h5>
          <a href="#" class="text-white me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
  
      <hr class="bg-light" />
  
      <div class="text-center">
        <p class="mb-0">&copy; 2025 Your Store. All rights reserved.</p>
      </div>
    </div>
  </footer>
  